<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <add key="ApplicationCanRun" value="1" />
    <add key="SendXmlMessageToND" value="1" />
    <add key="ProductionMode" value="1" />
    <add key="ZicyzUserId" value="89999" />
    
             <!--OSTRE-->
             <add key="noLogin" value="UPC" />
             <add key="noPassword" value="95C919E777D6C0A7" />                               
             <add key="noPartnerCode" value="UPC_CZ" />

    <!--UAT-->
    <add key="Login" value="UPC_TEST" />
    <add key="Password" value="0D41F3ADBE49FF69" />
    <add key="PartnerCode" value="UPC_CZ" />
    
    <!--   

OSTRE:
Login : UPC
Password : 95C919E777D6C0A7
PartnerCode : UPC_CZ

UAT:
Login : UPC_TEST
Password : 0D41F3ADBE49FF69
Partnercode : UPC_CZ
       
    -->
    
    <add key="Encoding" value="UTF-8" />
    <add key="NumRowsToSend" value="50" />
    <add key="MailServer" value="relay.upc.cz" />
    <add key="MailFrom" value="automat.fenix@upc.cz" />
    <add key="MailTo" value="michal.rezler@upc.cz" />
    <add key="MailErrorTo" value="michal.rezler@upc.cz" />

    <add key="D0MailFrom" value="michal.rezler@upc.cz" />
    <add key="D0MailTo" value="michal.rezler@upc.cz" />
    <add key="Domain" value="upc" />
    <add key="DomainUserLogin" value="rezler" />
    <add key="DomainUserPassword" value="Pondeli*2015" />
    <add key="ExchangeURL" value="https://mail.upc.cz/EWS/Exchange.asmx" />
    
    <!--OSTRE -->
    <add key="noD0MailFrom" value="fenix@upc.cz" />
    <add key="noD0MailTo" value="michal.rezler@upc.cz;administrativa-upc.cz@xpologistics.com" />
    <add key="noDomain" value="upc" />
    <add key="noDomainUserLogin" value="fenix" />
    <add key="noDomainUserPassword" value="PtakFenix*1993" />
    <add key="noExchangeURL" value="https://mail.upc.cz/EWS/Exchange.asmx" />
    <!--OSTRE -->

    <add key="DeleteMessageViaXML" value="1" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <!--<system.net>
    <defaultProxy useDefaultCredentials="true">      
      <proxy proxyaddress="http://172.30.68.1:80" />
    </defaultProxy>
  </system.net>-->

  <!-- Přidáno kvůli autentizaci vůči externím webovým službám -->
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://iproxy:80/" />
    </defaultProxy>
  </system.net>
  <!-- Přidáno kvůli autentizaci vůči externím webovým službám -->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NDL_InterfacesSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://83.206.128.120:8082/upcsw/services/NDL_Interfaces" binding="basicHttpBinding" bindingConfiguration="NDL_InterfacesSoapBinding" contract="NDLInterfaces.PortTypeNDL_Interfaces" name="NDL_Interfaces" />-->
      <endpoint address="http://92.175.73.98:8082/upcsw/services/NDL_Interfaces"   binding="basicHttpBinding" bindingConfiguration="NDL_InterfacesSoapBinding" contract="NDLInterfaces.PortTypeNDL_Interfaces" name="NDL_Interfaces" />
    </client>
  </system.serviceModel>
  
  <connectionStrings>
    
    <!--ws8sqldev  FenixRezlerTesty-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sqldev;initial catalog=FenixRezlerTesty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--UAT-->
    <add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=FenixUAT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--OSTRE-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=Fenix;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    <!--PH-REZLER  FenixRezlerTesty-->
    <!--<add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PH-REZLER;initial catalog=FenixRezlerTesty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
  
</configuration>